.carousel .carousel-inner {
  height: 500px;
}

.carousel-inner .carousel-item img {
  min-width: 100%;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cove;
}
@media (min-width: 1080px) {
  .carousel-caption {
    top: 40%;
    font-size: 1.5rem;
  }

  .carousel-caption h3 {
    font-size: 2rem;
  }

  .carousel-caption p {
    font-size: 1.25rem;
  }

  .carousel-item img {
    max-height: 900px;
  }
}

@media (max-width: 768px) {
  .carousel .carousel-inner {
    height: auto;
  }
}
